<button *ngIf="!authenticated$" routerLink="/auth" matTooltip="Like"
>
  <mat-icon> favorite_border </mat-icon>
</button>

<ng-container *ngIf="authenticated$">
  <button
    *ngIf="likedScream()"
    mat-raised-button
    (click)="unlikeScream()"
    matTooltip="Like"
  >
    <mat-icon> favorite </mat-icon>
  </button>

  <button
    *ngIf="!likedScream()"
    mat-raised-button
    (click)="likeScream()"
    matTooltip="Undo like"
  >
    <mat-icon> favorite_border </mat-icon>
  </button>
</ng-container>
