<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="pm-title">Co-Connect</span>
      <span class="left-spacer"></span>

      <ng-container *ngIf="authenticated">
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button (click)="openPost()"><mat-icon>add</mat-icon> </a>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button routerLink="/home" routerLinkActive="active-link"
            ><mat-icon matTooltip="Home">home</mat-icon>
          </a>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
          <app-notifications matTooltip="Notifications"></app-notifications>
        </div>
      </ng-container>

      <ng-container *ngIf="!authenticated">
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button routerLink="/home" routerLinkActive="active-link"
            >Home
          </a>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
          <a
            mat-button
            routerLink="/auth/register"
            routerLinkActive="active-link"
            >Signup
          </a>
        </div>
      </ng-container>

      <span class="header-spacer"></span>
      <a
        *ngIf="!user"
        mat-button
        routerLink="/auth"
        routerLinkActive="active-link"
      >
        <mat-icon>person_outliner</mat-icon>Login
      </a>
      <div>
        <a [matMenuTriggerFor]="menu" *ngIf="user" mat-button
          ><mat-icon>account_circle</mat-icon>
          <span fxShow="true" fxHide.lt-md="true" class="user-name">
            <span>Hi</span>
            <span
              ><strong> {{ user.handle }}!</strong></span
            >
          </span>
        </a>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/home"
          (click)="sidenav.toggle()"
          routerLinkActive="active-link"
        >
          Home
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
