<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0" class="full-width" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="email"
                formControlName="email"
                matInput
                placeholder="Email"
                type="email"
                required
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !userForm.get('email').valid && userForm.get('email').touched
                "
                >Invalid email !!!</span
              >
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="password"
                formControlName="password"
                matInput
                placeholder="Password"
                type="password"
                required
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !userForm.get('password').valid &&
                  userForm.get('password').touched
                "
                >Please enter password !!!</span
              >
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="password"
                formControlName="confirmPassword"
                matInput
                placeholder="Repeat Password"
                type="password"
                required
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !userForm.get('confirmPassword').valid &&
                  userForm.get('confirmPassword').touched &&
                  userForm.get('confirmPassword').errors.passwordMatch
                "
                >Password should match !!!</span
              >
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="handle"
                formControlName="handle"
                matInput
                placeholder="Handle"
                type="text"
                required
              />
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="
                  !userForm.get('handle').valid &&
                  userForm.get('handle').touched
                "
                >Please enter handle !!!</span
              >
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-error *ngIf="error">{{ error | async }}</mat-error>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="full-width"
      mat-raised-button
      (click)="register()"
      [tabIndex]="0"
    >
      Register
    </button>
    <div style="margin-top: 2em;">
      <span class="leftspacer"
        >Already have an account? <a [routerLink]="['/auth']"> Login</a> here.
      </span>
    </div>
  </mat-card-actions>
</mat-card>
