<mat-card class="example-card" *ngIf="user === null">
  <mat-card-content>
    <p>Profile Skeleton...</p>
  </mat-card-content>
</mat-card>


<mat-card class="example-card" *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><a [routerLink]="['/users', (user.handle)]"> @{{ user.handle }}</a></mat-card-title>
    <mat-card-subtitle>{{
      user.handle
    }}</mat-card-subtitle>
  </mat-card-header>
  <div class="card-image">
    <img mat-card-image [src]="user.imageUrl" />
  </div>
  <mat-card-content>
    <div *ngIf="user.bio">
      <span>
        {{ user.bio }}
      </span>
      <hr />
    </div>
    <div *ngIf="user.location">
      <mat-icon>location_on</mat-icon>
      <span class="user-detail"
        >{{ user.location }}
      </span>
      <hr />
    </div>
    <div *ngIf="user.website">
      <a
        [href]="user.website"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon>link</mat-icon>
        <span class="user-detail"
          >{{ user.website }}
        </span></a
      >
      <hr />
    </div>
    <div *ngIf="user.createdAt">
      <mat-icon>calendar_today</mat-icon>
      <span class="user-detail"
        >{{ user.createdAt }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
