<div mat-dialog-container class="example-card">
  <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
    
  <ng-container *ngIf="!(loading$ | async)"> 
    <h3 mat-dialog-title>@{{ userHandle }}</h3>
  <div class="card-image">
    <img mat-card-image [src]="userImage" />
  </div>
  <div mat-dialog-content>
    <div class="pm-dialog-row">
      <div>
        <span>
          {{ createdAt }}
        </span>
        <hr />
      </div>
      <div>
        <span>{{ body }} </span>
        <hr />
      </div>

    </div>
    <div class="pm-dialog-row">
      <app-like-button [screamId]="screamId"></app-like-button>
      <span> {{ likeCount }} Likes </span>
      <button mat-raised-button color="primary">
        <mat-icon> chat </mat-icon>
      </button>
      <span> {{ commentCount }} Comments </span>
    </div>
    <div class="pm-dialog-row">
      <app-comment-form [screamId]="screamId"></app-comment-form>
    </div>
    <div class="pm-dialog-row">
     <app-comments [comments]="comments"></app-comments>
    </div>
  </div>
  </ng-container>
  
</div>
