<div class="sc-container">
  <app-scream class="sc-items1"></app-scream>
  <div >
    <app-profile class="sc-items2"></app-profile>
    <mat-card class="fixed">
      <mat-card-content
        ><span>
          Made with <mat-icon>favorite</mat-icon> by
          <a
            href="https://www.linkedin.com/in/samuel-tijani-61834563"
            style="color: #ffd740;"
            target="_blank"
            >SamTJ</a
          >
        </span></mat-card-content
      >
    </mat-card>
  </div>
</div>
