<p *ngIf="loading$ | async">Scream loading...</p>

<ng-container *ngIf="!(loading$ | async)"
  ><mat-card class="example-card" *ngFor="let scream of screams$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        ><a [routerLink]="['/users', scream.userHandle]"
          >@{{ scream.userHandle }}</a
        ></mat-card-title
      >
      <mat-card-subtitle>{{ scream.createdAt }}</mat-card-subtitle>

      <button
        mat-raised-button
        *ngIf="(authenticated$ | async) && scream.userHandle === handle"
        (click)="deleteDialog(scream.screamId)"
      >
        <mat-icon> delete </mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image [src]="scream.userImage" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        {{ scream.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-like-button [screamId]="scream.screamId"></app-like-button>
      <span> {{ scream.likeCount }} Likes </span>
      <button mat-raised-button color="primary">
        <mat-icon> chat </mat-icon>
      </button>
      <span> {{ scream.commentCount }} Comments </span>
      <button
        mat-raised-button
        (click)="screamDialog(scream.screamId, scream.userHandle)"
      >
        <mat-icon> unfold_more </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
