<p *ngIf="loading">Scream loading...</p>

<mat-card class="example-card" *ngFor="let scream of screams$ | async">
  <mat-card-header>
    <mat-card-title>{{ scream.userHandle }}</mat-card-title>
    <mat-card-subtitle>{{ scream.createdAt }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ scream.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-like-button [screamId]="scream.screamId"></app-like-button>
    <span> {{ scream.likeCount }} Likes </span>
    <button mat-raised-button color="primary">
      <mat-icon> chat </mat-icon>
    </button>
    <span> {{ scream.commentCount }} Comments </span>
  </mat-card-actions>
</mat-card>
