<mat-card class="example-card" *ngIf="!(user$ | async)">
  <mat-card-content>
    <p>Profile loading...</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngIf="user$ | async">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >@{{ (user$ | async).userCredentials.handle }}</mat-card-title
    >
    <mat-card-subtitle>{{
      (user$ | async).userCredentials.handle
    }}</mat-card-subtitle>
  </mat-card-header>
  <div class="card-image">
    <img mat-card-image [src]="(user$ | async).userCredentials.imageUrl" />
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <input
    name="imageChange"
    placeholder="Change image"
    type="file"
    id="imageInput"
    hidden="hidden"
    (change)="handleImageChange($event)"
  />
  <button (click)="handleEditPicture()"><mat-icon>edit</mat-icon></button
  ><br /><br />
  <mat-card-content>
    <div *ngIf="(user$ | async).userCredentials.bio">
      <span>
        {{ (user$ | async).userCredentials.bio }}
      </span>
      <hr />
    </div>
    <div *ngIf="(user$ | async).userCredentials.location">
      <mat-icon>location_on</mat-icon>
      <span class="user-detail"
        >{{ (user$ | async).userCredentials.location }}
      </span>
      <hr />
    </div>
    <div *ngIf="(user$ | async).userCredentials.website">
      <a
        [href]="(user$ | async).userCredentials.website"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon>link</mat-icon>
        <span class="user-detail"
          >{{ (user$ | async).userCredentials.website }}
        </span></a
      >
      <hr />
    </div>
    <div *ngIf="(user$ | async).userCredentials.createdAt">
      <mat-icon>calendar_today</mat-icon>
      <span class="user-detail"
        >{{ (user$ | async).userCredentials.createdAt }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="logout()"><mat-icon>keyboard_return</mat-icon></button>
    <button mat-raised-button color="primary" (click)="editDetails()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
