<mat-card class="example-card" *ngIf="loading$ | async">
  <mat-card-content>
    <p>Profile Skeleton...</p>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="!(loading$ | async)">
  <mat-card class="example-card" *ngIf="!(authenticated$ | async)">
    <mat-card-content>
      <p>No profile found, please login again</p>
      <div>
        <a mat-button routerLink="/auth" routerLinkActive="active-link"
          >Login
        </a>
      </div>
      <div>
        <a mat-button routerLink="/auth/register" routerLinkActive="active-link"
          >Signup
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" *ngIf="authenticated$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@{{ (userCredentials$ | async).handle }}</mat-card-title>
      <mat-card-subtitle>{{
        (userCredentials$ | async).handle
      }}</mat-card-subtitle>
    </mat-card-header>
    <div class="card-image">
      <img mat-card-image [src]="(userCredentials$ | async).imageUrl" />
      <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    </div>
    <input
      name="imageChange"
      placeholder="Change image"
      type="file"
      id="imageInput"
      hidden="hidden"
      (change)="handleImageChange($event)"
    />
    <button (click)="handleEditPicture()" matTooltip="Edit profile picture">
      <mat-icon>edit</mat-icon></button
    ><br /><br />
    <mat-card-content>
      <div *ngIf="(userCredentials$ | async).bio">
        <span>
          {{ (userCredentials$ | async).bio }}
        </span>
        <hr />
      </div>
      <div *ngIf="(userCredentials$ | async).location">
        <mat-icon>location_on</mat-icon>
        <span class="user-detail"
          >{{ (userCredentials$ | async).location }}
        </span>
        <hr />
      </div>
      <div *ngIf="(userCredentials$ | async).website">
        <a
          [href]="(userCredentials$ | async).website"
          target="_blank"
          rel="noopener noreferrer"
        >
          <mat-icon>link</mat-icon>
          <span class="user-detail"
            >{{ (userCredentials$ | async).website }}
          </span></a
        >
        <hr />
      </div>
      <div *ngIf="(userCredentials$ | async).createdAt">
        <mat-icon>calendar_today</mat-icon>
        <span class="user-detail"
          >{{ (userCredentials$ | async).createdAt }}
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="logout()" matTooltip="Logout"><mat-icon>keyboard_return</mat-icon></button>
      <button mat-raised-button color="primary" (click)="editDetails()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
